{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'tickets:ticket_list' %}">{% trans "Tickets" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ticket}}</li>
  </ol>
</nav>

  <h1>
    {% trans 'Ticket #' %}{{ ticket.id }}
    {% include 'ticket/_status_badge.html' %}
  </h1>
  <h2>{{ticket.header}}</h2>
  <ul>
    <li>{{ticket.text}}</li>
    {% if ticket.media_file %}
      <li><img src="{{ ticket.media_file.url }}" alt="attached media file"></li>
    {% endif %}
  </ul>
  {% if ticket.reporter == request.user and perms.ticket.can_close_ticket and ticket.status != 'C' %}
     <a href="{% url 'tickets:close_ticket' pk=ticket.pk %}" role="button" class="btn btn-primary">{% trans "Close" %}</a>
  {% endif %}
{% endblock content %}
