{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">{% trans "Tickets" %}</li>
  </ol>
</nav>

<ul>{% for ticket in ticket_list %}
  <li><a href="{% url 'tickets:ticket_detail' ticket.pk %}">
    {{ ticket }}<a>
    {% include 'ticket/_status_badge.html' %}
  </li>
{% endfor %} </ul>

{% if perms.ticket.can_report_problem %}
  <a href='{% url 'tickets:user_add_ticket' %}'>{% trans "Report a problem" %}</a>
{% endif %}

<h2>{% trans "Filters" %}</h2>
<ul>
  {% for status in status_variants %}
    <li>
      <a href="{% url 'tickets:ticket_list' %}?filter_status={{ status }}">
        {{ status.label }}
      </a>
    </li>
  {% endfor %}
    <li>
      <a href="{% url 'tickets:ticket_list' %}">
        {% trans "All" %}
      </a>
    </li>
</ul>
{% endblock %}
